<snap-drawer class="ng-scope snap-drawer snap-drawer-left">
    <div class=snap-menu>
        <div class="sidebar-header text-center">
            <img src=images/flat-avatar.png class="sidebar-img img-circle">
        </div> 

        <ul class=snap-ul>
            <li ng-repeat="item in menuItems" ng-class="{active: $state.includes('{{item.name}}') }" ng-show="item.name!='logout'">
                <a ng-click="changeRoute();" ui-sref={{item.name}}>{{item.text}}</a>
            </li>
            <li>
                <a ng-click="closeSession();">Cerrar Sesión</a>
            </li>
        </ul>
    </div>
</snap-drawer> 
